* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono NF";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #c0caf5;
}

#window {
    font-weight: bold;
    font-family: "JetBrains Mono NF";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #c0caf5;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #f7768e;
    border-top: 2px solid #f7768e;
}

#mode {
    background: #7dcfff;
    border-bottom: 3px solid #c0caf5;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: #f7768e;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #c0caf5;
        color: #1a1b26;
    }
}

#battery.warning:not(.charging) {
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f7768e;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: #9ece6a;
}

#tray {
}

