* {
  font-family: "JetBrains Mono NF";
  font-weight: bold;
  font-size: 13px;
  color: #c0caf5;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#clock,
#tray{
  /*background-color: rgba(29,31,46, 0.95);*/
  background-color: rgba(26,27,38,0.9);
  padding: 2px 6px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
}

#custom-temperature,
#memory,
#custom-power{
  background-color: rgba(26,27,38,0.9);
  margin-bottom: 2px;
  margin-right: 6px;
  /*margin-bottom: 4px;*/
  padding: 2px 2px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#idle_inhibitor,
#custom-lock{
  background-color: rgba(26,27,38,0.9);
  margin-bottom: 2px;
  margin-left: 6px;
  /*margin-bottom: 4px;*/
  padding: 2px 2px;
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#custom-reboot,
#custom-logout,
#network,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#cpu{
  background-color: rgba(26,27,38,0.9);
  margin-bottom: 2px;
  /*margin-bottom: 4px;*/
  padding: 2px 2px;
  border-width: 0px;
}

#idle_inhibitor.activated,
#custom-temperature.critical,
#pulseaudio.muted {
  color: #f7768e;
  padding-top: 0;
}

#bluetooth:hover,
#network:hover,
/*#tray:hover,*/
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
/*#workspaces:hover,*/
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button:hover{
  border: 1px solid #e0af68;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 10px;
  background: transparent;
}

#workspaces button.focused {
  border: 1px solid #9ece6a;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  /* background: transparent; */
  border: none;
  padding: 2px 6px;
  margin: 0 2px;
  font-weight: bold;
  background-color: rgba(26,27,38,0.9);
}

#window {
  font-weight: 500;
  font-style: italic;
  background-color: rgba(26,27,38,0.9);
  border-radius: 10px;
  border-width: 0px;
}

